@inherits BytexDigital.Blazor.Components.CookieConsent.Dialogs.Prompt.CookieConsentPromptComponentBase

<div class="mud-cc-container">
    <MudPaper Class="mud-cc-content" Elevation="16">
        <div class="mud-cc-body">
            <MudText Typo="Typo.subtitle1">
                We use cookies to enhance your experience and analyze site traffic.
                By clicking "Accept All" you consent to the use of additional cookies.
                <MudLink Href="@Options.Value.PolicyUrl" Target="_blank">View cookie policy</MudLink>
            </MudText>
        </div>

        <div class="mud-cc-actions">
            <MudButton OnClick="async () => await AcceptAsync(false)" Variant="Variant.Filled" DropShadow="false" Color="Color.Default">
                Only necessary
            </MudButton>

            <MudButton OnClick="async () => await AcceptAsync(true)" Variant="Variant.Filled" DropShadow="false" Color="Color.Primary">
                Accept all
            </MudButton>
        </div>
    </MudPaper>
</div>
